{% extends 'cognitive_skills/base.html' %}

{% block user %}
  {% if worker %}
    <a href="{% url 'cognitive_skills:reset' %}">✖️ Reset</a>
  {% endif %}
{% endblock %}

{% block main %}
  <h2>Results</h2>
  {% if worker.completed_all_tests %}
    <p class='mt-3'><strong>🎉 Congratulations!</strong> You've completed all the required tests. Copy and paste the following ID and provide it to Amazon as proof of completion.</p>

    <input type="text" id="turk_id" class="form-control" value={{ worker.id }} readonly onClick="this.select();">
  {% endif %}

  <h2 class="mt-4">Scores</h2>
  <table class="table">
      <thead>
        <tr>
            <th scope="col">Test</th>
            <th scope="col">Correct</th>
            <th scope="col">Total</th>
            <th scope="col">%</th>
        </tr>
      </thead>
      <tbody>
        {% for result in results %}
        <tr>
          <td>{{ result.test.name }}</td>
          <td>{{ result.correct }}</td>
          <td>{{ result.total }}</td>
          <td>{{ result.pctCorrect }}
        </tr>
        {% endfor %}
      </tbody>
  </table>
{% endblock %}

{% block nav %}
<nav>
  <h2>Available Tests</h2 >
    <ul>
      {% for test in available_tests %}
        <li><a href="{% url 'cognitive_skills:test' test.slug %}">{{ test }}</a></li>
      {% endfor %}
    </ul>
    <h2>Completed Tests</h2 >
      <ul>
        {% for test in completed_tests %}
          <li><a href="{% url 'cognitive_skills:test' test.slug %}">{{ test }}</a></li>
        {% endfor %}
      </ul>
</nav>
{% endblock %}